.Container {
  height: 100vh;
  background-image: url("./images/celebrate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: black 0 4px 12px;
}

.Title {
  font-size: 256px;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.Subtitle {
  bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  width: 100%;
}
